@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #FBDA61;
    background-image: linear-gradient(116deg, #FBDA61 0%, #ff000d 100%);
}

nav{
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    background: rgba(245, 245, 245, 0.3);
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.part1 > img{
    height: 11vh;
    width: auto;
}
.part2{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
}
.part2>img{
    height: 8vh;
}

.count{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:30%
}

.card{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 300px;
    border-radius: 25px;   
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
#num{
    font-size: 50px;
}
